---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed?access_token=2177723906.4c48b76.9042e10185164dc587be51f8e8eebb38
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=2177723906.4c48b76.9042e10185164dc587be51f8e8eebb38\u0026max_id=1064884117855892890_413559188","next_max_id":"1064884117855892890_413559188"},"meta":{"code":200},"data":[{"attribution":null,"tags":["me","follow","surferphotos","waveporn","instagood"],"type":"image","location":null,"comments":{"count":3,"data":[{"created_time":"1441853056","text":"#follow
        #me #instagood #waveporn #surferphotos","from":{"username":"thunderbombsurfcamp","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11373714_407039316171501_51184307_a.jpg","id":"413559188","full_name":"ThunderBomb
        Surf Camp"},"id":"1070663496993175172"},{"created_time":"1441903563","text":"Love
        this photo, great job","from":{"username":"jtorrescr","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11386442_1447853075522608_1662497392_a.jpg","id":"36245345","full_name":"Jose
        M. Torres Gomez"},"id":"1071087182220981751"},{"created_time":"1441904492","text":"@rparry1972","from":{"username":"pawnshopskateco","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11336112_1025833874102303_604818604_a.jpg","id":"29437153","full_name":"Pawnshop
        Skate Co."},"id":"1071094976756151366"}]},"filter":"Normal","created_time":"1441852972","link":"https:\/\/instagram.com\/p\/7bwiOlQXdT\/","likes":{"count":92,"data":[{"username":"bordport","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/10413939_904502092927950_2118004158_a.jpg","id":"1570201056","full_name":"bordport"},{"username":"montiel1595","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11909968_419301661605239_937761025_a.jpg","id":"1901557075","full_name":"Freydel
        Jazmin Montiel"},{"username":"floridamilitarysurfclub","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11312306_915153708540294_242188520_a.jpg","id":"1821476677","full_name":""},{"username":"levihickey80","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/11410460_381120288744497_1403866644_a.jpg","id":"1701181087","full_name":"Levi
        Hickey"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e35\/11917817_1036202643080865_1058239645_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/c180.0.720.720\/11931019_872410389508374_976922309_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11917817_1036202643080865_1058239645_n.jpg","width":640,"height":640}},"users_in_photo":[{"position":{"y":0.80112845,"x":0.9030762},"user":{"username":"connorkollenda","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11909166_810934872357546_2080442633_a.jpg","id":"28522052","full_name":"Connor
        Kollenda (KP)"}}],"caption":{"created_time":"1441852972","text":"Wave hunting
        is easy when you just jump off your steps into the ocean and paddle just a
        little north.\n\nPhoto by blade the wave hunter @connorkollenda","from":{"username":"thunderbombsurfcamp","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11373714_407039316171501_51184307_a.jpg","id":"413559188","full_name":"ThunderBomb
        Surf Camp"},"id":"1070662797551040091"},"user_has_liked":false,"id":"1070662794782799699_413559188","user":{"username":"thunderbombsurfcamp","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11373714_407039316171501_51184307_a.jpg","id":"413559188","full_name":"ThunderBomb
        Surf Camp"}},{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441809190","link":"https:\/\/instagram.com\/p\/7adBq1vQyH\/","likes":{"count":4,"data":[{"use[...]
